@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace;
  font-size: 1rem;
}

main {
  min-height: 100vh;
  padding: 0 3rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
}

li {
  text-align: center;
  margin: 1rem;
}

ul {
  margin-top: 2rem;
}
